[submodule "pack/plugins/start/vim-typescript"]
	path = pack/plugins/start/vim-typescript
	url = https://github.com/leafgarland/typescript-vim
[submodule "pack/plugins/start/asyncomplete-lsp.vim"]
	path = pack/plugins/start/asyncomplete-lsp.vim
	url = https://github.com/prabirshrestha/asyncomplete-lsp.vim
[submodule "pack/plugins/start/asyncomplete.vim"]
	path = pack/plugins/start/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "pack/plugins/start/vim-lsp"]
	path = pack/plugins/start/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp
[submodule "pack/plugins/start/vim-tadasv-zet"]
	path = pack/plugins/start/vim-tadasv-zet
	url = https://github.com/tadasv/vim-tadasv-zet
