[submodule "pack/plugins/start/vim-lsc"]
	path = pack/plugins/start/vim-lsc
	url = https://github.com/natebosch/vim-lsc
[submodule "pack/plugins/start/vim-typescript"]
	path = pack/plugins/start/vim-typescript
	url = https://github.com/leafgarland/typescript-vim
